In [6]:
import numpy as np
import pandas as pd
from pathlib import Path
import matplotlib.pyplot as plt
import seaborn as sns

# Telcom Churn Data Import

In [8]:
# import the telcom churn csv data
telcom_data_df = pd.read_excel(Path('../resources/telcom_customer_data.xlsx'))
telcom_data_df.shape # (4250, 10)
telcom_data_df.head()

,state,age,area_code,voice_mail_plan,number_vmail_messages,total_day_minutes,total_day_calls,total_day_charge,number_customer_service_calls,churn
0,OH,42,area_code_415,1,26,161.6,123,27.47,1,no
1,NJ,36,area_code_415,0,0,243.4,114,41.38,0,no
2,OH,39,area_code_408,0,0,299.4,71,50.90,2,no
3,OK,41,area_code_415,0,0,166.7,113,28.34,3,no
4,MA,34,area_code_510,1,24,218.2,88,37.09,3,no

In [10]:
# Modify the area_code column by removing the "area_code_" part of the string from every entry.
telcom_data_df['area_code'] = telcom_data_df['area_code'].str.replace('area_code_', '')
# Modify the churn column by replacing the "yes" with a 1 and "no" with a 0.
telcom_data_df['churn'] = telcom_data_df['churn'].replace({'yes': 1, 'no': 0})
telcom_data_df.head()

C:\Users\lerch\AppData\Local\Temp\ipykernel_194892\386215360.py:4: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  telcom_data_df['churn'] = telcom_data_df['churn'].replace({'yes': 1, 'no': 0})

,state,age,area_code,voice_mail_plan,number_vmail_messages,total_day_minutes,total_day_calls,total_day_charge,number_customer_service_calls,churn
0,OH,42,415,1,26,161.6,123,27.47,1,0
1,NJ,36,415,0,0,243.4,114,41.38,0,0
2,OH,39,408,0,0,299.4,71,50.90,2,0
3,OK,41,415,0,0,166.7,113,28.34,3,0
4,MA,34,510,1,24,218.2,88,37.09,3,0

Now that the churn column contains numerical values, we can calculate the churn rate. It’s a business metric that gives us the percentage of people who stopped using the product during a given time period. We can calculate this metric for our data as follows:

 $$Churn Rate = (churned / total customers) ∗ 100$$
Please note that all our rows correspond to customer data from the same time period. The formula above reflects that as well.

The above metric can present us with a good overview of the percentage of user churn. As a business, of course, the goal is to minimize churn.

Instructions
In an empty cell, calculate the churn rate.
In a Text Box, briefly describe whether you think the churn rate is high or not.
Keep in mind that different industries have different average churn rates.
We encourage you to look up articles or reports online that can help you interpret your calculated churn rate.

In [12]:
churn_rate = telcom_data_df['churn'].value_counts()[1] / telcom_data_df['churn'].count()

# convert to percentage
churn_rate = churn_rate * 100
churn_rate

14.070588235294117

Initial EDA
The overallchurn rate is about ~14%.
We will now calculate some descriptive statistics and start investigating the types of customers who churn.

In [17]:
age_mean, age_median, age_mode, age_std, age_var, age_min, age_max = telcom_data_df['age'].mean(), telcom_data_df['age'].median(), telcom_data_df['age'].mode(), telcom_data_df['age'].std(), telcom_data_df['age'].var(), telcom_data_df['age'].min(), telcom_data_df['age'].max()
voice_mail_plan_mean, voice_mail_plan_median, total_day_minutes_median, total_day_calls_median, number_customer_service_calls_median, churn_median = telcom_data_df['voice_mail_plan'].mean(), telcom_data_df['voice_mail_plan'].median(), telcom_data_df['total_day_minutes'].mode(), telcom_data_df['total_day_calls'].std(), telcom_data_df['number_customer_service_calls'].var(), telcom_data_df['churn'].min()
number_vmail_messages_mean, number_vmail_messages_median, total_day_minutes_mode, total_day_calls_std, number_customer_service_calls_var, churn_min = telcom_data_df['number_vmail_messages'].mean(), telcom_data_df['number_vmail_messages'].median(), telcom_data_df['total_day_minutes'].mode(), telcom_data_df['total_day_calls'].std(), telcom_data_df['number_customer_service_calls'].var(), telcom_data_df['churn'].min()
number_customer_service_calls_mean, number_customer_service_calls_median, number_customer_service_calls_mode, number_customer_service_calls_std, number_customer_service_calls_var, number_customer_service_calls_min, number_customer_service_calls_max = telcom_data_df['number_customer_service_calls'].mean(), telcom_data_df['number_customer_service_calls'].median(), telcom_data_df['number_customer_service_calls'].mode(), telcom_data_df['number_customer_service_calls'].std(), telcom_data_df['number_customer_service_calls'].var(), telcom_data_df['number_customer_service_calls'].min(), telcom_data_df['number_customer_service_calls'].max()
total_day_minutes_mean, total_day_minutes_median, total_day_minutes_mode, total_day_minutes_std, total_day_minutes_var, total_day_minutes_min, total_day_minutes_max = telcom_data_df['total_day_minutes'].mean(), telcom_data_df['total_day_minutes'].median(), telcom_data_df['total_day_minutes'].mode(), telcom_data_df['total_day_minutes'].std(), telcom_data_df['total_day_minutes'].var(), telcom_data_df['total_day_minutes'].min(), telcom_data_df['total_day_minutes'].max()
total_day_calls_mean, total_day_calls_median, total_day_calls_mode, total_day_calls_std, total_day_calls_var, total_day_calls_min, total_day_calls_max = telcom_data_df['total_day_calls'].mean(), telcom_data_df['total_day_calls'].median(), telcom_data_df['total_day_calls'].mode(), telcom_data_df['total_day_calls'].std(), telcom_data_df['total_day_calls'].var(), telcom_data_df['total_day_calls'].min(), telcom_data_df['total_day_calls'].max()
total_day_charge_mean, total_day_charge_median, total_day_charge_mode, total_day_charge_std, total_day_charge_var, total_day_charge_min, total_day_charge_max = telcom_data_df['total_day_charge'].mean(), telcom_data_df['total_day_charge'].median(), telcom_data_df['total_day_charge'].mode(), telcom_data_df['total_day_charge'].std(), telcom_data_df['total_day_charge'].var(), telcom_data_df['total_day_charge'].min(), telcom_data_df['total_day_charge'].max()
churn_mean, churn_median, churn_mode, churn_std, churn_var, churn_min, churn_max = telcom_data_df['churn'].mean(), telcom_data_df['churn'].median(), telcom_data_df['churn'].mode(), telcom_data_df['churn'].std(), telcom_data_df['churn'].var(), telcom_data_df['churn'].min(), telcom_data_df['churn'].max()

print(f'Age: mean: {age_mean}, median: {age_median}, mode: {age_mode}, std: {age_std}, var: {age_var}, min: {age_min}, max: {age_max}')
print('====================================================================================================================================================================================')
print(f'Voice Mail Plan: mean: {voice_mail_plan_mean}, median: {voice_mail_plan_median}, mode: {voice_mail_plan_median}, std: {total_day_calls_std}, var: {number_customer_service_calls_var}, min: {churn_min}')
print('====================================================================================================================================================================================')
print(f'Number Vmail Messages: mean: {number_vmail_messages_mean}, median: {number_vmail_messages_median}, mode: {total_day_minutes_mode}, std: {total_day_calls_std}, var: {number_customer_service_calls_var}, min: {churn_min}')
print('====================================================================================================================================================================================')
print(f'Number Customer Service Calls: mean: {number_customer_service_calls_mean}, median: {number_customer_service_calls_median}, mode: {number_customer_service_calls_mode}, std: {number_customer_service_calls_std}, var: {number_customer_service_calls_var}, min: {number_customer_service_calls_min}, max: {number_customer_service_calls_max}')
print('====================================================================================================================================================================================')
print(f'Total Day Minutes: mean: {total_day_minutes_mean}, median: {total_day_minutes_median}, mode: {total_day_minutes_mode}, std: {total_day_minutes_std}, var: {total_day_minutes_var}, min: {total_day_minutes_min}, max: {total_day_minutes_max}')
print('====================================================================================================================================================================================')
print(f'Total Day Calls: mean: {total_day_calls_mean}, median: {total_day_calls_median}, mode: {total_day_calls_mode}, std: {total_day_calls_std}, var: {total_day_calls_var}, min: {total_day_calls_min}, max: {total_day_calls_max}')
print('====================================================================================================================================================================================')
print(f'Total Day Charge: mean: {total_day_charge_mean}, median: {total_day_charge_median}, mode: {total_day_charge_mode}, std: {total_day_charge_std}, var: {total_day_charge_var}, min: {total_day_charge_min}, max: {total_day_charge_max}')
print('====================================================================================================================================================================================')
print(f'Churn: mean: {churn_mean}, median: {churn_median}, mode: {churn_mode}, std: {churn_std}, var: {churn_var}, min: {churn_min}, max: {churn_max}')

Age: mean: 38.59929411764706, median: 39.0, mode: 0    40
Name: age, dtype: int64, std: 5.271061551131642, var: 27.784089875818314, min: 19, max: 55
====================================================================================================================================================================================
Voice Mail Plan: mean: 0.2616470588235294, median: 0.0, mode: 0.0, std: 19.850817312142933, var: 1.7198579042819242, min: 0
====================================================================================================================================================================================
Number Vmail Messages: mean: 7.631764705882353, median: 0.0, mode: 0    189.3
Name: total_day_minutes, dtype: float64, std: 19.850817312142933, var: 1.7198579042819242, min: 0
====================================================================================================================================================================================
Number Customer Service Calls: mean: 1.5590588235294118, median: 1.0, mode: 0    1
Name: number_customer_service_calls, dtype: int64, std: 1.3114335302568423, var: 1.7198579042819242, min: 0, max: 9
====================================================================================================================================================================================
Total Day Minutes: mean: 180.2596, median: 180.45, mode: 0    189.3
Name: total_day_minutes, dtype: float64, std: 54.01237333141771, var: 2917.3364728924435, min: 0.0, max: 351.5
====================================================================================================================================================================================
Total Day Calls: mean: 99.90729411764706, median: 100.0, mode: 0    105
Name: total_day_calls, dtype: int64, std: 19.850817312142933, var: 394.05494796007355, min: 0, max: 165
====================================================================================================================================================================================
Total Day Charge: mean: 30.644682352941174, median: 30.68, mode: 0    32.18
Name: total_day_charge, dtype: float64, std: 9.182096032769163, var: 84.31088755499519, min: 0.0, max: 59.76
====================================================================================================================================================================================
Churn: mean: 0.14070588235294118, median: 0.0, mode: 0    0
Name: churn, dtype: int64, std: 0.34775881383358753, var: 0.12093619259894381, min: 0, max: 1

In [20]:
telcom_data_df.describe()

,age,voice_mail_plan,number_vmail_messages,total_day_minutes,total_day_calls,total_day_charge,number_customer_service_calls,churn
count,4250.000000,4250.000000,4250.000000,4250.000000,4250.000000,4250.000000,4250.000000,4250.000000
mean,38.599294,0.261647,7.631765,180.259600,99.907294,30.644682,1.559059,0.140706
std,5.271062,0.439583,13.439882,54.012373,19.850817,9.182096,1.311434,0.347759
min,19.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,36.000000,0.000000,0.000000,143.325000,87.000000,24.365000,1.000000,0.000000
50%,39.000000,0.000000,0.000000,180.450000,100.000000,30.680000,1.000000,0.000000
75%,42.000000,1.000000,16.000000,216.200000,113.000000,36.750000,2.000000,0.000000
max,55.000000,1.000000,52.000000,351.500000,165.000000,59.760000,9.000000,1.000000

In [23]:
# In an empty cell, calculate the churn rate.
# churn_rate = telcom_data_df['churn'].value_counts()[1] / telcom_data_df['churn'].count()

# # convert to percentage
# churn_rate = churn_rate * 100
# churn_rate

# churn by state
churned_by_state = telcom_data_df.groupby('state')['churn'].sum() / 598 *100
#churned_by_state = churned_by_state.sort_values(ascending=False)

churned_by_state

state
AK    0.668896
AL    2.173913
AR    1.839465
AZ    1.170569
CA    1.672241
CO    1.505017
CT    2.508361
DC    1.337793
DE    2.173913
FL    1.505017
GA    1.170569
HI    0.668896
IA    1.170569
ID    2.006689
IL    1.003344
IN    2.173913
KS    2.508361
KY    2.006689
LA    1.170569
MA    2.341137
MD    3.177258
ME    2.675585
MI    2.508361
MN    3.177258
MO    1.672241
MS    2.508361
MT    2.842809
NC    1.170569
ND    1.003344
NE    0.836120
NH    1.672241
NJ    4.347826
NM    1.672241
NV    2.842809
NY    2.675585
OH    2.006689
OK    2.675585
OR    2.508361
PA    1.337793
RI    1.003344
SC    2.341137
SD    1.839465
TN    2.006689
TX    3.177258
UT    2.006689
VA    0.836120
VT    1.672241
WA    3.010033
WI    1.170569
WV    3.177258
WY    1.672241
Name: churn, dtype: float64

In [26]:
# create a pivot table with state and churn as rows 
#    - Average of `age`
#    - Sum of `voice_mail_plan`
#    - Sum of `number_vmail_messages`
#    - Average of `total_day_minutes`
#    - Count of `total_day_calls` 
#    - Sum of `number_customer_service_calls`

# calculate the churn rate per state and add it to the dataframe
# Calculate churn rate per state
churn_rate_per_state = telcom_data_df.groupby('state')['churn'].sum() / 598 * 100

# Add this churn rate as a new column to the DataFrame
telcom_data_df['churn_rate_per_state'] = telcom_data_df['state'].map(churn_rate_per_state)


# create the pivot table
telcom_data_pivot = pd.pivot_table(telcom_data_df, 
                                   index=['state', 'churn'], 
                                   values=['age', 'voice_mail_plan', 'number_vmail_messages', 'total_day_minutes', 'total_day_calls', 'number_customer_service_calls', 'churn_rate_per_state'], 
                                   aggfunc={'age': 'mean', 'voice_mail_plan': 'sum', 'number_vmail_messages': 'sum', 'total_day_minutes': 'mean', 'total_day_calls': 'count', 'number_customer_service_calls': 'sum', 'churn_rate_per_state': 'mean' })

# Reset index to work with columns
telcom_data_pivot_reset = telcom_data_pivot.reset_index()

# Sort by churn rate, then by state
telcom_data_pivot_churn_sorted = telcom_data_pivot_reset.sort_values(by=['churn_rate_per_state', 'state'], ascending=[False, True])

# Set the index back if needed
telcom_data_pivot_churn_sorted = telcom_data_pivot_churn_sorted.set_index(['state', 'churn'])
# telcom_data_pivot_churn_sorted = telcom_data_pivot.sort_values(by='churn_rate_per_state', ascending=False)


telcom_data_pivot_churn_sorted.head(10)

                   age  churn_rate_per_state  number_customer_service_calls  \
state churn
NJ    0      39.228571              4.347826                             92
      1      31.423077              4.347826                             60
MD    0      39.731343              3.177258                             98
      1      30.842105              3.177258                             43
MN    0      40.359551              3.177258                            121
      1      31.000000              3.177258                             48
TX    0      40.177215              3.177258                            128
      1      28.947368              3.177258                             36
WV    0      39.700000              3.177258                            186
      1      31.000000              3.177258                             49

             number_vmail_messages  total_day_calls  total_day_minutes  \
state churn
NJ    0                        460               70         179.958571
      1                        193               26         228.011538
MD    0                        466               67         182.897015
      1                         83               19         218.068421
MN    0                        673               89         175.539326
      1                         82               19         207.694737
TX    0                        587               79         177.674684
      1                         31               19         218.947368
WV    0                        943              120         174.003333
      1                         74               19         200.052632

             voice_mail_plan
state churn
NJ    0                   16
      1                    6
MD    0                   15
      1                    2
MN    0                   22
      1                    3
TX    0                   20
      1                    1
WV    0                   30
      1                    2

In a new sheet, create a PivotTable grouping the data.

Add voice_mail_plan and then churn as Rows to the PivotTable Fields.

Add the following as Values:

Average of age
Sum of number_vmail_messages
Sum of total_day_minutes
Average of total_day_charge
Churn rate
If necessary, rename any column of the above PivotTable to make it easier to reference later.

In a Text Box, briefly describe any patterns you notice between the values and the customers who churned.

For example, you might notice a couple of 0s when you sum the number_vmail_messages column. Why do you think the sum would be 0?
Feel free to point out any other interesting patterns you notice in the PivotTable.
[Optional] Explore the above using the remaining columns.

In [30]:
# create the pivot table
telcom_data_pivot = pd.pivot_table(telcom_data_df, 
                                   index=['voice_mail_plan', 'churn'], 
                                   values=['age', 'number_vmail_messages', 'total_day_minutes', 'total_day_charge', 'churn_rate_per_state'], 
                                   aggfunc={'age': 'mean', 'number_vmail_messages': 'sum', 'total_day_minutes': 'sum', 'total_day_charge': 'mean', 'churn_rate_per_state': 'mean'})

telcom_data_pivot_churn_sorted = telcom_data_pivot.sort_values(by='voice_mail_plan', ascending=False)

telcom_data_pivot_churn_sorted.head(10)

                             age  churn_rate_per_state  number_vmail_messages  \
voice_mail_plan churn
1               0      40.070874              1.969348                  29864
                1      29.560976              2.314626                   2571
0               0      39.962624              1.997377                      0
                1      30.170543              2.273405                      0

                       total_day_charge  total_day_minutes
voice_mail_plan churn
1               0             30.694311           185968.4
                1             29.883659            14414.4
0               0             29.511293           455158.8
                1             36.425756           110561.7